<div class="cover-container w-100 h-100 p-3 mx-auto flex-column">
  <div class="container mt-4">
    <div class="inner">
      <h3 class="masthead-brand">Yura Voevodin</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/projects">Projects</a>
        <a class="nav-link active" href="/contacts">Contact</a>
      </nav>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="column">
        <h3>✉️ Contacts</h3>
        <ul>
          <li>Mail me <a href="mailto:voevodin.yura@icloud.com">voevodin.yura@icloud.com</a></li>
          <li>Facebook <a href="https://www.facebook.com/yura.voevodin">yura.voevodin</a></li>
          <li>Github <a href="https://github.com/yura-voevodin">yura-voevodin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</div>