<% @title = "Yura Voevodin - Contacts" %>
<%= render "layouts/header" %>

<div class="container-lg clearfix">
  <div class="mx-3 my-3">
    <div class="col-12 pt-3 mx-3">
      <div class="pagehead">
        <h1><%= octicon "mail", class: "mr-2", height: 32 %> Contacts</h1>
        <hr>
      </div>
      <ul>
        <li>Twitter <a href="https://twitter.com/voevodin_yura">@voevodin_yura</a></li>
        <li>Instagram <a href="https://www.instagram.com/voevodin.yura/">@voevodin.yura</a></li>
        <li>Facebook <a href="https://www.facebook.com/yura.voevodin">yura.voevodin</a></li>
        <li>Telegram <a href="https://t.me/voevodin_yura">@voevodin_yura</a></li>
        <li>Github <a href="https://github.com/yura-voevodin">yura-voevodin</a></li>
        <li>Mail me <a href="mailto:voevodin.yura@icloud.com">voevodin.yura@icloud.com</a></li>
      </ul>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
