<% @title = "Yura Voevodin" %>
<%= render "layouts/header" %>

<div class="col-9 mx-auto py-md-5">

    <div class="row fs-5 p-3 bg-light border rounded-3">
        <div class="col-sm-2 mb-4">
            <%= image_pack_tag 'avatar.jpg', class: "img-thumbnail", alt: "Yura Voevodin" %>
        </div>

        <div class="col">
            <div class="container-fluid py-3 px-3">
                <h4>Hi! I'm Yura Voevodin</h4>

                <p>I have many years of programming experience, bachelorʼs degree in Computer Science</p>

                <p>I work as <code class="prettyprint">Software Engineer</code> and write code on <code class="prettyprint">Swift</code>, mainly building an iOS applications</p>

                <p>I also use <a href="https://rubyonrails.org" rel="nofollow" target="_blank" class="link-dark">Ruby On Rails</a> framework for my <a href="/projects" rel="nofollow" target="_blank" class="link-dark">own projects</a></p>

                <p>Feel free to ask me any questions and follow me on <a href="https://www.instagram.com/voevodin.yura" rel="nofollow" target="_blank" class="link-dark">social media</a></p>
            </div>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 text-white bg-dark rounded-3">
        <div class="container-fluid py-3 px-3">
            <h4>Experience</h4>

            <dl class="row mt-3">
              <dt class="col-sm-3">2020 - 2022</dt>
              <dd class="col-sm-9">iOS Developer at <a href="https://www.clowder.com" rel="nofollow" target="_blank" class="link-info">Clowder</a></dd>

              <dt class="col-sm-3">2020 - 2021</dt>
              <dd class="col-sm-9">iOS Developer at <a href="https://coachnow.io" rel="nofollow" target="_blank" class="link-info">CoachNow</a></dd>

              <dt class="col-sm-3">2016 - 2020</dt>
              <dd class="col-sm-9">iOS, iPadOS and macOS Apps Developer at <a href="https://www.appdev.academy" rel="nofollow" target="_blank" class="link-info">App Dev Academy</a></dd>

              <hr>

              <dt class="col-sm-3">2012 - 2016</dt>
              <dd class="col-sm-9">PHP Developer at <a href="https://bvblogic.com" rel="nofollow" target="_blank" class="link-info">bvblogic</a></dd>

              <dt class="col-sm-3">2012 - 2013</dt>
              <dd class="col-sm-9">Senior Laboratory at <a href="https://dl.sumdu.edu.ua/en" rel="nofollow" target="_blank" class="link-info">Laboratory of distance learning</a> at <a href="https://sumdu.edu.ua/int/en" rel="nofollow" target="_blank" class="link-info">Sumy State University</a></dd>

              <dt class="col-sm-3">2007 - 2008</dt>
              <dd class="col-sm-9">Laboratory Technician at <a href="https://kpt.sumdu.edu.ua" rel="nofollow" target="_blank" class="link-info">Polytechnic College of Konotop Institute of the SSU</a></dd>
          </dl>
      </div>
  </div>

  <div class="row fs-5 p-3 mt-5 bg-light border rounded-3">
    <div class="col">
        <div class="row">
            <h4>Skills and Technologies</h4>

            <p><span class="badge rounded-pill bg-dark">Git</span>
                <span class="badge rounded-pill bg-dark">OOP</span>
                <span class="badge rounded-pill bg-dark">Swift</span>
                <span class="badge rounded-pill bg-dark">MVC</span>
                <span class="badge rounded-pill bg-dark">UIKit</span>
                <span class="badge rounded-pill bg-dark">Autolayout</span>
                <span class="badge rounded-pill bg-dark">SwiftUI</span>
                <span class="badge rounded-pill bg-dark">CoreData</span>
                <span class="badge rounded-pill bg-dark">REST API</span>
                <span class="badge rounded-pill bg-dark">TestFlight</span>
                <span class="badge rounded-pill bg-dark">In-App Purchase</span>
            </p>
        </div>
    </div>
</div>

<div class="row fs-5 p-3 mt-5 text-white bg-dark rounded-3">
    <div class="container-fluid py-3 px-3">
        <h4>Contacts</h4>

        <ul class="list-unstyled">
            <li>Github <a href="https://github.com/yura-voevodin" rel="nofollow" target="_blank" class="link-info">yura-voevodin</a></li>
            <li>Twitter <a href="https://twitter.com/voevodin_yura" rel="nofollow" target="_blank" class="link-info">@voevodin_yura</a></li>
            <li>LinkedIn <a href="https://www.linkedin.com/in/yurivoevodin" rel="nofollow" target="_blank" class="link-info">yurivoevodin</a></li>
            <li>Instagram <a href="https://www.instagram.com/voevodin.yura" rel="nofollow" target="_blank" class="link-info">@voevodin.yura</a></li>
            <li>Facebook <a href="https://www.facebook.com/yura.voevodin" rel="nofollow" target="_blank" class="link-info">yura.voevodin</a></li>
            <li>Telegram <a href="https://t.me/voevodin_yura" rel="nofollow" target="_blank" class="link-info">@voevodin_yura</a></li>
            <li>Upwork <a href="https://www.upwork.com/freelancers/%7E01f49c60721b71f48b" rel="nofollow" target="_blank" class="link-info">Yura V.</a></li>
        </ul>

        <p><a href="/cv_yura_voevodin.pdf" class="btn btn-outline-warning" target="_blank"><i class="bi bi-arrow-down-circle"></i> Download my CV</a></p>
    </div>
</div>

<%= render "layouts/footer" %>

</div>
