<%= render "layouts/header" %>

<div class="container-lg clearfix">
  <div class="mx-3 my-3">
    <div class="col-12 pt-3 mx-3">
      <div class="pagehead">
        <h1><%= octicon "tools", class: "mr-2", height: 32 %> Projects</h1>
        <hr>
      </div>
      <ul>
        <li><a href="https://my-university.com.ua">My University</a> - Web service with schedule for universities</li>
        <li><a href="https://itunes.apple.com/ua/app/university-schedule/id1440425058">My University</a> - iOS app with schedule for universities</li>
        <li><a href="https://github.com/yura-voevodin/Breaks">My Breaks</a> - iOS app for more productive work with breaks</li>
        <li><a href="https://github.com/yura-voevodin/blog-rails">This website</a> - Personal website on <a href="https://rubyonrails.org">Rails</a> framework</li>
      </ul>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
