<div class="cover-container w-100 h-100 p-3 mx-auto flex-column">
  <div class="container mt-4">
    <div class="inner">
      <h3 class="masthead-brand">Yura Voevodin</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" href="/projects">Projects</a>
        <a class="nav-link" href="/contact">Contact</a>
      </nav>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="column">
        <h3>👨‍💻 Open-source projects</h3>
        <ul>
          <li><a href="https://github.com/yura-voevodin/Breaks">My Breaks</a> - iOS app for more productive work with breaks</li>
          <li><a href="https://itunes.apple.com/ua/app/university-schedule/id1440425058">My University</a> - iOS app with schedule for universities</li>
          <li><a href="https://github.com/yura-voevodin/bot-schedule">My University</a> - <a href="https://telegram.me/sumdu_bot">Telegram</a> bot with schedule for universities</li>
          <li><a href="https://github.com/yura-voevodin/personal-website-on-swift">This website</a> - Personal website on <a href="https://vapor.codes">Vapor</a> framework</li>
        </ul>
      </div>
    </div>
    
  </div>
  <%= render "layouts/footer" %>
</div>