<% @title = "Yura Voevodin - My Projects" %>
<%= render "layouts/header" %>

<div class="container-lg clearfix">
  <div class="mx-3 my-3">
    <div class="col-12 pt-3 mx-3">

      <div class="pagehead">
        <h1>My Projects</h1>
      </div>

      <div class="clearfix pt-3">
        <div class="float-left p-3">
          <%= image_tag ("my-university.png"), :size => "64x64" %>
        </div>
        <div class="overflow-hidden">
          <h3>My University</h3>
          <p><a href="https://my-university.com.ua">my-university.com.ua</a> - web service and API on <a href="https://rubyonrails.org">Rails</a> framework (<a href="https://github.com/yura-voevodin/my-university-server-rails">Source Code</a>)</p>
          <p><a href="https://itunes.apple.com/ua/app/university-schedule/id1440425058">iOS app</a> with schedule for universities (<a href="https://github.com/yura-voevodin/my-university-ios">Source Code</a>)</p>
          <p><a href="https://play.google.com/store/apps/details?id=ua.com.myuniversity">Android app</a> with schedule for universities</p>
        </div>
      </div>
      <hr>

      <div class="clearfix">
        <div class="overflow-hidden pt-3">
          <h3>Personal  website</h3>
          <p><a href="http://voevodin-yura.com/">voevodin-yura.com</a> - website on <a href="https://rubyonrails.org">Rails</a> framework and <a href="https://primer.style/css/">Primer CSS</a></p>
          <p>Source code on GitHub - <a href="https://github.com/yura-voevodin/blog-rails">blog-rails</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
