<% meta_tag :description, "Software Engineer (iOS, Swift) / Father from Ukraine" %>
<% meta_tag :keywords, "iOS, Developer, Engineer, Blog, Ukraine" %>
<% @title = "Yura Voevodin - Projects" %>
<%= render "layouts/header" %>

<div class="col-9 mx-auto py-md-5">

    <div class="row fs-5 p-3 bg-primary-subtle rounded-3">

        <div class="col-sm-2 mb-2" style="max-height: 100px;">
            <%= image_tag 'my-university.png', class: "img-thumbnail h-100" %>
        </div>

        <div class="col">
            <h4>My University</h4>

            <ul class="list-unstyled">
                <li class="mb-2"><a href="https://my-university.com.ua" rel="nofollow" target="_blank">my-university.com.ua</a> - web service and API on <a href="https://rubyonrails.org" rel="nofollow" target="_blank">Rails</a> framework</li>
                <li class="mb-2"><a href="https://itunes.apple.com/ua/app/university-schedule/id1440425058" rel="nofollow" target="_blank">iOS app</a> with schedule for universities</li>
            </ul>
        </div>
    </div>

    <div class="row fs-5 p-3 mt-5 bg-primary-subtle rounded-3">
        <div class="container-fluid py-3 px-3">
            <h4>Personal  website</h4>

            <ul class="list-unstyled">
                <li><a href="https://voevodin-yura.com" rel="nofollow" target="_blank">voevodin-yura.com</a> - website on <a href="https://rubyonrails.org" rel="nofollow" target="_blank">Rails</a> framework and <a href="https://getbootstrap.com" rel="nofollow" target="_blank">Bootstrap</a> toolkit <a href="https://github.com/yura-voevodin/blog-rails" rel="nofollow" target="_blank"><i class="bi bi-github"></i></a></li>
            </ul>
        </div>
    </div>

    <%= render "layouts/footer" %>
</div>

