<% @title = "Юра Воєводін" %>
<%= render "layouts/header_ua" %>

<div class="col-lg-8 mx-auto p-3 py-md-5">
  <h1>👋 Привіт! Мене звати Юра<span class="blinking-cursor">|</span></h1>
  <p class="fs-5 col-md-8">Досвідчений <code>розробник програмного забезпечення</code> зі знаннями в області веб-технологій. Ентузіаст та мрійник з України 🇺🇦</p>

  <div class="mb-5">
    <a href="/about" class="btn btn-primary btn-lg">Читати далі</a>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row g-5">
    <div class="col-md-6">
      <h2>Блог</h2>
      <p>Читайте мої статті для натхнення 😉</p>
      <ul style="list-style-type: none;">
        <li>
          <i class="bi bi-arrow-right-circle text-muted"></i>
          <a href="../getting-started/introduction/">Привіт!</a>
        </li>
      </ul>
    </div>
  </div>

  <%= render "layouts/footer" %>
</div>
