<% @title = "햝햟 뉋쮐덇쒫쮏얨뒗" %>
<%= render "layouts/header_ua" %>

<div class="col-lg-8 mx-auto p-3 py-md-5">
  <h1>游녦 햦쒬뒘! 햎햣햫햣 향쒫썜햦 햝햟<span class="blinking-cursor">|</span></h1>
  <p class="fs-5 col-md-8">햆쮐쒬뒗얨햣햫햦햧 <code>쮏쮏쐃쫧쟳 쮏햟햪햫쮏 향햟햠햣향햣혢햣햫햫혪</code> 향혰 향햫햟햫햫혪햪햦  쮏쐃햟혜혝혰 쒫왏-혝햣혠햫쮏쮏혰햧. 햇햫혝혞향혰햟혜혝 혝햟 햪혰햧햫햦햨 향 햒햨햟혱햫햦 游쥟릖</p>

  <div class="mb-5">
        <a href="/ua/about" class="btn btn-primary btn-lg">햆햣혝햟햩혧햫혰혣햣</a>
    </div>

  <%= render "layouts/footer" %>
</div>
