@import "~bootstrap/scss/bootstrap";
  
  .blinking-cursor {
      color: lightgreen;
      -webkit-animation: 1s blink step-end infinite;
      -moz-animation: 1s blink step-end infinite;
      -ms-animation: 1s blink step-end infinite;
      -o-animation: 1s blink step-end infinite;
      animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
      from, to {
          color: transparent;
      }
      50% {
          color: lightgreen;
      }
  }
  
  @-moz-keyframes blink {
      from, to {
          color: transparent;
      }
      50% {
          color: lightgreen;
      }
  }
  
  @-webkit-keyframes "blink" {
      from, to {
          color: transparent;
      }
      50% {
          color: lightgreen;
      }
  }
  
  @-ms-keyframes "blink" {
      from, to {
          color: transparent;
      }
      50% {
          color: lightgreen;
      }
  }
  
  @-o-keyframes "blink" {
      from, to {
          color: transparent;
      }
      50% {
          color: lightgreen;
      }
  }
  