<% @title = "Блог" %>
<%= render "layouts/header_ua" %>

<div class="col-9 mx-auto py-md-5">

  <div class="row fs-5 p-3 mt-5 bg-light-subtle rounded-3">
    <div class="container-fluid py-3 px-3">
        <ul class="list-unstyled">
            <li>
              <i class="bi bi-arrow-right-circle text-muted"></i>
              <a href="/ua/blog/low-data-mode.html">Як оптимізувати використання мобільного Інтернет</a>
          </li>
          <li>
              <i class="bi bi-arrow-right-circle text-muted"></i>
              <a href="/ua/blog/feature.html">Привіт із майбутнього!</a>
          </li>
      </ul>
  </div>
</div>

<%= render "layouts/footer" %>
</div>
