<div class="cover-container w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"><%=raw @post.title %></h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Головна</a>
        <a class="nav-link active" href="/contacts">Контакти</a>
      </nav>
    </div>
  </header>
  <div class="container mt-4">
    <%=raw @post.text %>
  </div>
  <%= render "layouts/footer" %>
</div>