<%= render "layouts/header_small" %>

<div class="col-9 mx-auto py-md-5">

  <div class="row fs-5 p-3 mt-5 bg-dark-subtle rounded-3">
    <div class="container-fluid py-3 px-3">
        <ul class="list-unstyled">
            <li>
              <i class="bi bi-arrow-right-circle text-muted"></i>
              <a href="/posts/rails-static-pages.html">Ruby on Rails static site generator</a>
          </li>
          <li>
              <i class="bi bi-arrow-right-circle text-muted"></i>
              <a href="/pages/bootstrap_5_timeline.html">Bootstrap 5 + Timeline</a>
          </li>
      </ul>
  </div>
</div>

<%= render "layouts/footer" %>
</div>
