<%= render "layouts/header_small" %>

<div class="col-11 mx-auto p-3 py-md-5">

    <div class="row fs-5">
        <%= markdown(@markdown_text)  %>
    </div>
    
    <%= render "layouts/footer" %>
</div>
