<div class="Header">
  <div class="Header-item">
    <%= link_to(root_url, class: "Header-link f4 d-flex flex-items-center") do %>
    <%= octicon "home", class: "mr-2", height: 32 %>
    <% end %>
  </div>
  <div class="Header-item">
    <a href="/projects" class="Header-link">Мої Проекти</a>
  </div>
</div>
