<div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <%= link_to "ua", rel: 'nofollow', class: "nav-link #{ is_active('ua')}" do %>
                <i class="bi bi-house-fill"></i>
            <% end %>
            <li class="nav-item"><%= link_to "Про мене", "about_ua", class: "nav-link #{ is_active('about_ua')}" %></li>
        </ul>
    </header>
</div>
