<div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <%= link_to "/", rel: 'nofollow', class: "nav-link" do %>
                <i class="bi bi-house-fill"></i>
            <% end %>
        </ul>
    </header>
</div>